# Statement
Learn how to do web scraping.

Level 1

- Exercise 1

Perform web scraping of a page of the Madrid Stock Exchange (https://www.bolsamadrid.es) using BeautifulSoup and Selenium.

Level 2

- Exercise 2

Document in a word document the data set generated with the information contained in the different Kaggle archives.

Level 3 - Exercise 3

Download a web page of your choice and perform web scraping using the Scrapy library.

# Level 1

## - Exercise 1

Perform web scraping of a page of the Madrid Stock Exchange (https://www.bolsamadrid.es) using BeautifulSoup and Selenium.

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:

import requests

URL = "https://www.bolsamadrid.es"
page = requests.get(URL)

fsock = open('Output_Bolsa_raw.html', 'w')
print(page.text, file=fsock)
fsock.close()

In [3]:
URL = "https://www.bolsamadrid.es"
page = requests.get(URL)

soup = BeautifulSoup(page.content, "html.parser")

### Let's scrap the web of stock market with BeautifulSoup.

In [4]:
fsock = open('Output_Bolsa_BeautifulSoup_Prettify.html', 'w')
print(soup.prettify(), file=fsock)
fsock.close()

![](2022-03-30-16-07-37.png)

In [5]:
ibex35 = soup.find(class_="TblPort TblAccPort")
ibex35.text

'\nNombreÚltimo% Dif.\nACCIONA170,40000,35ACERINOX10,0850-0,20ACS24,6800-0,04AENA152,70000,56ALMIRALL11,7600-1,18AMADEUS58,8200-0,94ARCELORMIT.29,5550-0,34B.SANTANDER3,16400,68BA.SABADELL0,77121,37BANKINTER5,46401,00BBVA5,3150-1,39CAIXABANK3,17400,95CELLNEX44,0100-0,74CIE AUTOMOT.21,0200-0,28ENAGAS19,9350-0,03ENDESA19,75002,23FERROVIAL24,0100-0,29FLUIDRA26,6500-0,93GRIFOLS CL.A16,3550-0,91IAG1,71200,23IBERDROLA10,01000,72INDITEX20,2300-2,83INDRA A10,2400-0,19INM.COLONIAL8,2650-0,72MAPFRE1,9190-0,03MELIA HOTELS6,8480-0,49MERLIN10,6050-1,44NATURGY27,1700-0,26PHARMA MAR68,3400-2,37R.E.C.18,47000,65REPSOL11,9320-0,75ROVI68,00000,29SIEMENS GAME15,9650-0,99SOLARIA20,01000,45TELEFONICA4,3675-1,01'

In [6]:
# print(ibex35)
rows = []
for child in ibex35.children:
    element = []
    for i in child:
        if i != '\n':
            element.append(i.text)
    if len(element) != 0:
        rows.append(element)
rows

[['Nombre', 'Último', '% Dif.'],
 ['ACCIONA', '170,4000', '0,35'],
 ['ACERINOX', '10,0850', '-0,20'],
 ['ACS', '24,6800', '-0,04'],
 ['AENA', '152,7000', '0,56'],
 ['ALMIRALL', '11,7600', '-1,18'],
 ['AMADEUS', '58,8200', '-0,94'],
 ['ARCELORMIT.', '29,5550', '-0,34'],
 ['B.SANTANDER', '3,1640', '0,68'],
 ['BA.SABADELL', '0,7712', '1,37'],
 ['BANKINTER', '5,4640', '1,00'],
 ['BBVA', '5,3150', '-1,39'],
 ['CAIXABANK', '3,1740', '0,95'],
 ['CELLNEX', '44,0100', '-0,74'],
 ['CIE AUTOMOT.', '21,0200', '-0,28'],
 ['ENAGAS', '19,9350', '-0,03'],
 ['ENDESA', '19,7500', '2,23'],
 ['FERROVIAL', '24,0100', '-0,29'],
 ['FLUIDRA', '26,6500', '-0,93'],
 ['GRIFOLS CL.A', '16,3550', '-0,91'],
 ['IAG', '1,7120', '0,23'],
 ['IBERDROLA', '10,0100', '0,72'],
 ['INDITEX', '20,2300', '-2,83'],
 ['INDRA A', '10,2400', '-0,19'],
 ['INM.COLONIAL', '8,2650', '-0,72'],
 ['MAPFRE', '1,9190', '-0,03'],
 ['MELIA HOTELS', '6,8480', '-0,49'],
 ['MERLIN', '10,6050', '-1,44'],
 ['NATURGY', '27,1700', '-0,26'],
 ['PHARMA MAR', '68,3400', '-2,37'],
 ['R.E.C.', '18,4700', '0,65'],
 ['REPSOL', '11,9320', '-0,75'],
 ['ROVI', '68,0000', '0,29'],
 ['SIEMENS GAME', '15,9650', '-0,99'],
 ['SOLARIA', '20,0100', '0,45'],
 ['TELEFONICA', '4,3675', '-1,01']]

### Collect all them in a dataframe

In [7]:
df_scrap = pd.DataFrame(rows[1::],columns=rows[0])
df_scrap

          Nombre    Último % Dif.
0        ACCIONA  170,4000   0,35
1       ACERINOX   10,0850  -0,20
2            ACS   24,6800  -0,04
3           AENA  152,7000   0,56
4       ALMIRALL   11,7600  -1,18
5        AMADEUS   58,8200  -0,94
6    ARCELORMIT.   29,5550  -0,34
7    B.SANTANDER    3,1640   0,68
8    BA.SABADELL    0,7712   1,37
9      BANKINTER    5,4640   1,00
10          BBVA    5,3150  -1,39
11     CAIXABANK    3,1740   0,95
12       CELLNEX   44,0100  -0,74
13  CIE AUTOMOT.   21,0200  -0,28
14        ENAGAS   19,9350  -0,03
15        ENDESA   19,7500   2,23
16     FERROVIAL   24,0100  -0,29
17       FLUIDRA   26,6500  -0,93
18  GRIFOLS CL.A   16,3550  -0,91
19           IAG    1,7120   0,23
20     IBERDROLA   10,0100   0,72
21       INDITEX   20,2300  -2,83
22       INDRA A   10,2400  -0,19
23  INM.COLONIAL    8,2650  -0,72
24        MAPFRE    1,9190  -0,03
25  MELIA HOTELS    6,8480  -0,49
26        MERLIN   10,6050  -1,44
27       NATURGY   27,1700  -0,26
28    PHARMA MAR   68,3400  -2,37
29        R.E.C.   18,4700   0,65
30        REPSOL   11,9320  -0,75
31          ROVI   68,0000   0,29
32  SIEMENS GAME   15,9650  -0,99
33       SOLARIA   20,0100   0,45
34    TELEFONICA    4,3675  -1,01

### Let's now do something similar with Selenium

In [39]:
from selenium.webdriver import Chrome
from selenium.webdriver.chrome.options import Options
opts = Options()
opts.set_headless()
assert opts.headless  # Operating in headless mode
browser = Chrome(options=opts)
browser.get('https://www.bolsamadrid.es/esp/aspx/Portada/Portada.aspx')

C:\Users\jalor\AppData\Local\Temp\ipykernel_8856\1611063956.py:4: DeprecationWarning: use setter for headless property instead of set_headless
  opts.set_headless()

In [44]:
ibex35s = browser.find_elements_by_class_name('TblPort.TblAccPort') # find_elements_by_name('a') # find_element_by_class_name(name='TblPort TblAccPort')

for element in ibex35s:
    print(element.text)

### As we can see below, the behavior of the web scrapping with beautifulsoup or Selenium, is different.  
BeautifulSoup sees the values of all the shares in the table TblPort.TblAccPort, but Selenium only sees  
the values that are showing in the screen. So, if we want to see all values, we have to change the approach now.

In [41]:
browser.get('https://www.bolsamadrid.es/esp/aspx/Mercados/Precios.aspx?indice=ESI100000000')

In [52]:
ibex35s = browser.find_elements_by_id('ctl00_Contenido_tblAcciones') # find_elements_by_name('a') # find_element_by_class_name(name='TblPort TblAccPort')

for element in ibex35s:
    str_dump = element.text

In [61]:
str_dump

'Nombre Últ. % Dif. Máx. Mín. Volumen Efectivo (miles €) Fecha Hora\nACCIONA 170,9000 0,65 171,5000 169,5000 11.617 1.980,10 31/03/2022 12:23:28\nACERINOX 10,0700 -0,35 10,2050 10,0500 297.302 3.005,88 31/03/2022 12:23:22\nACS 24,6500 -0,16 24,9100 24,6500 97.381 2.412,28 31/03/2022 12:23:03\nAENA 152,9500 0,72 153,9500 151,8000 30.591 4.677,60 31/03/2022 12:23:18\nALMIRALL 11,7400 -1,34 11,9600 11,6200 122.535 1.442,54 31/03/2022 12:15:34\nAMADEUS 58,6800 -1,18 60,3600 58,6800 140.228 8.366,21 31/03/2022 12:23:07\nARCELORMIT. 29,4500 -0,69 29,7900 29,4150 87.949 2.603,39 31/03/2022 12:23:27\nB.SANTANDER 3,1545 0,38 3,1995 3,1500 29.208.859 92.804,42 31/03/2022 12:23:28\nBA.SABADELL 0,7634 0,34 0,7830 0,7628 133.100.953 102.961,56 31/03/2022 12:22:49\nBANKINTER 5,4300 0,37 5,5020 5,3980 881.470 4.822,59 31/03/2022 12:22:10\nBBVA 5,2970 -1,73 5,4220 5,2920 35.417.329 190.980,60 31/03/2022 12:23:32\nCAIXABANK 3,1520 0,25 3,1860 3,1420 2.695.761 8.541,52 31/03/2022 12:23:15\nCELLNEX 44,1700 -0,38 44,8800 44,0000 195.895 8.708,55 31/03/2022 12:22:09\nCIE AUTOMOT. 20,9800 -0,47 21,1800 20,8400 81.046 1.700,69 31/03/2022 12:19:11\nENAGAS 19,9700 0,15 20,0200 19,8050 133.014 2.651,63 31/03/2022 12:22:19\nENDESA 19,7400 2,17 19,8300 19,2400 355.620 6.955,79 31/03/2022 12:21:51\nFERROVIAL 24,0100 -0,29 24,4100 23,9500 181.890 4.387,94 31/03/2022 12:20:12\nFLUIDRA 26,6000 -1,12 27,0500 26,6000 106.880 2.859,69 31/03/2022 12:18:21\nGRIFOLS CL.A 16,3800 -0,76 16,7900 16,2500 726.837 12.006,09 31/03/2022 12:23:29\nIAG 1,7110 0,18 1,7340 1,7060 5.493.256 9.450,10 31/03/2022 12:23:30\nIBERDROLA 10,0150 0,77 10,0350 9,8780 2.221.941 22.165,79 31/03/2022 12:23:10\nINDITEX 20,2100 -2,93 20,7000 20,1300 2.093.129 42.619,45 31/03/2022 12:23:22\nINDRA A 10,2400 -0,19 10,4100 10,2300 242.649 2.503,60 31/03/2022 12:23:11\nINM.COLONIAL 8,2700 -0,66 8,3900 8,2600 112.302 934,44 31/03/2022 12:21:16\nMAPFRE 1,9180 -0,08 1,9300 1,9155 737.058 1.418,67 31/03/2022 12:22:08\nMELIA HOTELS 6,8380 -0,64 6,9260 6,8260 157.494 1.082,33 31/03/2022 12:22:26\nMERLIN 10,6250 -1,25 10,8100 10,6000 155.556 1.663,49 31/03/2022 12:22:33\nNATURGY 27,2400 0,00 27,3200 26,9700 57.379 1.558,38 31/03/2022 12:21:13\nPHARMA MAR 68,6400 -1,94 70,4600 68,2000 39.284 2.716,14 31/03/2022 12:19:16\nR.E.C. 18,5000 0,82 18,5550 18,2450 268.824 4.952,14 31/03/2022 12:23:28\nREPSOL 11,8640 -1,31 12,0080 11,8340 798.845 9.530,98 31/03/2022 12:23:33\nROVI 67,8000 0,00 68,4000 67,3000 20.677 1.404,65 31/03/2022 12:23:32\nSIEMENS GAME 16,0500 -0,47 16,2850 15,8000 400.490 6.419,68 31/03/2022 12:22:53\nSOLARIA 20,1100 0,95 20,1900 19,4000 160.655 3.180,61 31/03/2022 12:22:29\nTELEFONICA 4,3665 -1,03 4,4325 4,3630 2.629.592 11.573,86 31/03/2022 12:23:22'

In [67]:
rows = str_dump.splitlines()

In [75]:
table = []
for row in rows:
    line = row.split(' ')
    table.append(line)

In [94]:
# We found in the columns name problems with spaces in titles
columns = table[0]
data = table [1::]
print(columns)

['Nombre', 'Últ.', '%', 'Dif.', 'Máx.', 'Mín.', 'Volumen', 'Efectivo', '(miles', '€)', 'Fecha', 'Hora']

In [98]:
columns = ['Index','Nombre', 'Últ.', '% Dif.', 'Máx.', 'Mín.', 'Volumen', 'Efectivo (miles €)', 'Fecha', 'Hora']
print(columns)

['Index', 'Nombre', 'Últ.', '% Dif.', 'Máx.', 'Mín.', 'Volumen', 'Efectivo (miles €)', 'Fecha', 'Hora']

In [100]:
df = pd.DataFrame(data,columns=columns)
df

,Index,Nombre,Últ.,% Dif.,Máx.,Mín.,Volumen,Efectivo (miles €),Fecha,Hora
0,ACCIONA,"170,9000","0,65","171,5000","169,5000",11.617,"1.980,10",31/03/2022,12:23:28,None
1,ACERINOX,"10,0700","-0,35","10,2050","10,0500",297.302,"3.005,88",31/03/2022,12:23:22,None
2,ACS,"24,6500","-0,16","24,9100","24,6500",97.381,"2.412,28",31/03/2022,12:23:03,None
3,AENA,"152,9500","0,72","153,9500","151,8000",30.591,"4.677,60",31/03/2022,12:23:18,None
4,ALMIRALL,"11,7400","-1,34","11,9600","11,6200",122.535,"1.442,54",31/03/2022,12:15:34,None
5,AMADEUS,"58,6800","-1,18","60,3600","58,6800",140.228,"8.366,21",31/03/2022,12:23:07,None
6,ARCELORMIT.,"29,4500","-0,69","29,7900","29,4150",87.949,"2.603,39",31/03/2022,12:23:27,None
7,B.SANTANDER,"3,1545","0,38","3,1995","3,1500",29.208.859,"92.804,42",31/03/2022,12:23:28,None
8,BA.SABADELL,"0,7634","0,34","0,7830","0,7628",133.100.953,"102.961,56",31/03/2022,12:22:49,None
9,BANKINTER,"5,4300","0,37","5,5020","5,3980",881.470,"4.822,59",31/03/2022,12:22:10,None
10,BBVA,"5,2970","-1,73","5,4220","5,2920",35.417.329,"190.980,60",31/03/2022,12:23:32,None
11,CAIXABANK,"3,1520","0,25","3,1860","3,1420",2.695.761,"8.541,52",31/03/2022,12:23:15,None
12,CELLNEX,"44,1700","-0,38","44,8800","44,0000",195.895,"8.708,55",31/03/2022,12:22:09,None
13,CIE,AUTOMOT.,"20,9800","-0,47","21,1800","20,8400",81.046,"1.700,69",31/03/2022,12:19:11
14,ENAGAS,"19,9700","0,15","20,0200","19,8050",133.014,"2.651,63",31/03/2022,12:22:19,None
15,ENDESA,"19,7400","2,17","19,8300","19,2400",355.620,"6.955,79",31/03/2022,12:21:51,None
16,FERROVIAL,"24,0100","-0,29","24,4100","23,9500",181.890,"4.387,94",31/03/2022,12:20:12,None
17,FLUIDRA,"26,6000","-1,12","27,0500","26,6000",106.880,"2.859,69",31/03/2022,12:18:21,None
18,GRIFOLS,CL.A,"16,3800","-0,76","16,7900","16,2500",726.837,"12.006,09",31/03/2022,12:23:29
19,IAG,"1,7110","0,18","1,7340","1,7060",5.493.256,"9.450,10",31/03/2022,12:23:30,None
20,IBERDROLA,"10,0150","0,77","10,0350","9,8780",2.221.941,"22.165,79",31/03/2022,12:23:10,None
21,INDITEX,"20,2100","-2,93","20,7000","20,1300",2.093.129,"42.619,45",31/03/2022,12:23:22,None
22,INDRA,A,"10,2400","-0,19","10,4100","10,2300",242.649,"2.503,60",31/03/2022,12:23:11
23,INM.COLONIAL,"8,2700","-0,66","8,3900","8,2600",112.302,"934,44",31/03/2022,12:21:16,None
24,MAPFRE,"1,9180","-0,08","1,9300","1,9155",737.058,"1.418,67",31/03/2022,12:22:08,None
25,MELIA,HOTELS,"6,8380","-0,64","6,9260","6,8260",157.494,"1.082,33",31/03/2022,12:22:26
26,MERLIN,"10,6250","-1,25","10,8100","10,6000",155.556,"1.663,49",31/03/2022,12:22:33,None
27,NATURGY,"27,2400","0,00","27,3200","26,9700",57.379,"1.558,38",31/03/2022,12:21:13,None
28,PHARMA,MAR,"68,6400","-1,94","70,4600","68,2000",39.284,"2.716,14",31/03/2022,12:19:16
29,R.E.C.,"18,5000","0,82","18,5550","18,2450",268.824,"4.952,14",31/03/2022,12:23:28,None
30,REPSOL,"11,8640","-1,31","12,0080","11,8340",798.845,"9.530,98",31/03/2022,12:23:33,None
31,ROVI,"67,8000","0,00","68,4000","67,3000",20.677,"1.404,65",31/03/2022,12:23:32,None
32,SIEMENS,GAME,"16,0500","-0,47","16,2850","15,8000",400.490,"6.419,68",31/03/2022,12:22:53
33,SOLARIA,"20,1100","0,95","20,1900","19,4000",160.655,"3.180,61",31/03/2022,12:22:29,None
34,TELEFONICA,"4,3665","-1,03","4,4325","4,3630",2.629.592,"11.573,86",31/03/2022,12:23:22,None


# Level 2

## - Exercise 2

Document in a word document the data set generated with the information contained in the different Kaggle archives.

### We will do this in a second delivery


# Level 3 

## - Exercise 3

Download a web page of your choice and perform web scraping using the Scrapy library.

### We will do this in a second delivery