# Statement
Learn how to do web scraping.

Level 1

- Exercise 1

Perform web scraping of a page of the Madrid Stock Exchange (https://www.bolsamadrid.es) using BeautifulSoup and Selenium.

Level 2

- Exercise 2

Document in a word document the data set generated with the information contained in the different Kaggle archives.

Level 3 - Exercise 3

Download a web page of your choice and perform web scraping using the Scrapy library.

# Level 1

## - Exercise 1

Perform web scraping of a page of the Madrid Stock Exchange (https://www.bolsamadrid.es) using BeautifulSoup and Selenium.

In [115]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [116]:

import requests

URL = "https://www.bolsamadrid.es"
page = requests.get(URL)

fsock = open('Output_Bolsa_raw.html', 'w')
print(page.text, file=fsock)
fsock.close()

In [117]:
URL = "https://www.bolsamadrid.es"
page = requests.get(URL)

soup = BeautifulSoup(page.content, "html.parser")

### Let's scrap the web of stock market with BeautifulSoup.

In [118]:
fsock = open('Output_Bolsa_BeautifulSoup_Prettify.html', 'w')
print(soup.prettify(), file=fsock)
fsock.close()

![](2022-03-30-16-07-37.png)

In [119]:
ibex35 = soup.find(class_="TblPort TblAccPort")
ibex35.text

'\nNombreÚltimo% Dif.\nACCIONA169,80000,12ACERINOX10,1050-1,61ACS24,6900-0,96AENA151,85001,10ALMIRALL11,90001,28AMADEUS59,3800-2,17ARCELORMIT.29,6550-1,07B.SANTANDER3,1425-3,26BA.SABADELL0,7608-1,40BANKINTER5,4100-0,73BBVA5,3900-2,02CAIXABANK3,1440-0,60CELLNEX44,34000,70CIE AUTOMOT.21,0800-1,59ENAGAS19,94000,86ENDESA19,32000,84FERROVIAL24,0800-2,07FLUIDRA26,9000-3,24GRIFOLS CL.A16,50505,63IAG1,7080-3,28IBERDROLA9,9380-0,44INDITEX20,8200-2,16INDRA A10,26000,29INM.COLONIAL8,32500,18MAPFRE1,9195-0,54MELIA HOTELS6,8820-1,01MERLIN10,76000,00NATURGY27,24002,33PHARMA MAR70,00003,46R.E.C.18,35002,29REPSOL12,02202,12ROVI67,80000,44SIEMENS GAME16,12502,02SOLARIA19,92006,52TELEFONICA4,41201,29'

In [120]:
# print(ibex35)
rows = []
for child in ibex35.children:
    element = []
    for i in child:
        if i != '\n':
            element.append(i.text)
    if len(element) != 0:
        rows.append(element)
rows

[['Nombre', 'Último', '% Dif.'],
 ['ACCIONA', '169,8000', '0,12'],
 ['ACERINOX', '10,1050', '-1,61'],
 ['ACS', '24,6900', '-0,96'],
 ['AENA', '151,8500', '1,10'],
 ['ALMIRALL', '11,9000', '1,28'],
 ['AMADEUS', '59,3800', '-2,17'],
 ['ARCELORMIT.', '29,6550', '-1,07'],
 ['B.SANTANDER', '3,1425', '-3,26'],
 ['BA.SABADELL', '0,7608', '-1,40'],
 ['BANKINTER', '5,4100', '-0,73'],
 ['BBVA', '5,3900', '-2,02'],
 ['CAIXABANK', '3,1440', '-0,60'],
 ['CELLNEX', '44,3400', '0,70'],
 ['CIE AUTOMOT.', '21,0800', '-1,59'],
 ['ENAGAS', '19,9400', '0,86'],
 ['ENDESA', '19,3200', '0,84'],
 ['FERROVIAL', '24,0800', '-2,07'],
 ['FLUIDRA', '26,9000', '-3,24'],
 ['GRIFOLS CL.A', '16,5050', '5,63'],
 ['IAG', '1,7080', '-3,28'],
 ['IBERDROLA', '9,9380', '-0,44'],
 ['INDITEX', '20,8200', '-2,16'],
 ['INDRA A', '10,2600', '0,29'],
 ['INM.COLONIAL', '8,3250', '0,18'],
 ['MAPFRE', '1,9195', '-0,54'],
 ['MELIA HOTELS', '6,8820', '-1,01'],
 ['MERLIN', '10,7600', '0,00'],
 ['NATURGY', '27,2400', '2,33'],
 ['PHARMA MAR', '70,0000', '3,46'],
 ['R.E.C.', '18,3500', '2,29'],
 ['REPSOL', '12,0220', '2,12'],
 ['ROVI', '67,8000', '0,44'],
 ['SIEMENS GAME', '16,1250', '2,02'],
 ['SOLARIA', '19,9200', '6,52'],
 ['TELEFONICA', '4,4120', '1,29']]

### Collect all them in a dataframe

In [121]:
df_scrap = pd.DataFrame(rows[1::],columns=rows[0])
df_scrap

          Nombre    Último % Dif.
0        ACCIONA  169,8000   0,12
1       ACERINOX   10,1050  -1,61
2            ACS   24,6900  -0,96
3           AENA  151,8500   1,10
4       ALMIRALL   11,9000   1,28
5        AMADEUS   59,3800  -2,17
6    ARCELORMIT.   29,6550  -1,07
7    B.SANTANDER    3,1425  -3,26
8    BA.SABADELL    0,7608  -1,40
9      BANKINTER    5,4100  -0,73
10          BBVA    5,3900  -2,02
11     CAIXABANK    3,1440  -0,60
12       CELLNEX   44,3400   0,70
13  CIE AUTOMOT.   21,0800  -1,59
14        ENAGAS   19,9400   0,86
15        ENDESA   19,3200   0,84
16     FERROVIAL   24,0800  -2,07
17       FLUIDRA   26,9000  -3,24
18  GRIFOLS CL.A   16,5050   5,63
19           IAG    1,7080  -3,28
20     IBERDROLA    9,9380  -0,44
21       INDITEX   20,8200  -2,16
22       INDRA A   10,2600   0,29
23  INM.COLONIAL    8,3250   0,18
24        MAPFRE    1,9195  -0,54
25  MELIA HOTELS    6,8820  -1,01
26        MERLIN   10,7600   0,00
27       NATURGY   27,2400   2,33
28    PHARMA MAR   70,0000   3,46
29        R.E.C.   18,3500   2,29
30        REPSOL   12,0220   2,12
31          ROVI   67,8000   0,44
32  SIEMENS GAME   16,1250   2,02
33       SOLARIA   19,9200   6,52
34    TELEFONICA    4,4120   1,29

### Let's now do something similar with Selenium

In [122]:
from selenium.webdriver import Chrome
from selenium.webdriver.chrome.options import Options
opts = Options()
opts.set_headless()
assert opts.headless  # Operating in headless mode
browser = Chrome(options=opts)
browser.get('https://duckduckgo.com')

C:\Users\jalor\AppData\Local\Temp\ipykernel_16376\2965764590.py:4: DeprecationWarning: use setter for headless property instead of set_headless
  opts.set_headless()


# Level 2

## - Exercise 2

Document in a word document the data set generated with the information contained in the different Kaggle archives.


# Level 3 

## - Exercise 3

Download a web page of your choice and perform web scraping using the Scrapy library.