# Statement
Learn how to do web scraping.

Level 1

- Exercise 1

Perform web scraping of a page of the Madrid Stock Exchange (https://www.bolsamadrid.es) using BeautifulSoup and Selenium.

Level 2

- Exercise 2

Document in a word document the data set generated with the information contained in the different Kaggle archives.

Level 3 - Exercise 3

Download a web page of your choice and perform web scraping using the Scrapy library.

# Level 1

## - Exercise 1

Perform web scraping of a page of the Madrid Stock Exchange (https://www.bolsamadrid.es) using BeautifulSoup and Selenium.

In [45]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [46]:

import requests

URL = "https://www.bolsamadrid.es"
page = requests.get(URL)

fsock = open('Output_Bolsa_raw.html', 'w')
print(page.text, file=fsock)
fsock.close()

In [47]:
URL = "https://www.bolsamadrid.es"
page = requests.get(URL)

soup = BeautifulSoup(page.content, "html.parser")

### Let's scrap the web of stock market with BeautifulSoup.

In [48]:
fsock = open('Output_Bolsa_BeautifulSoup_Prettify.html', 'w')
print(soup.prettify(), file=fsock)
fsock.close()

![](2022-03-30-16-07-37.png)

In [87]:
ibex35 = soup.find(class_="TblPort TblAccPort")
ibex35.text

'\nNombreÚltimo% Dif.\nACCIONA168,6000-0,59ACERINOX10,1650-1,02ACS24,7200-0,84AENA150,65000,30ALMIRALL11,92001,45AMADEUS59,9200-1,29ARCELORMIT.29,8850-0,30B.SANTANDER3,1820-2,05BA.SABADELL0,7680-0,47BANKINTER5,45200,04BBVA5,4230-1,42CAIXABANK3,1410-0,70CELLNEX44,25000,50CIE AUTOMOT.21,3800-0,19ENAGAS19,80000,15ENDESA19,1000-0,31FERROVIAL24,2100-1,55FLUIDRA27,0000-2,88GRIFOLS CL.A15,5500-0,48IAG1,7130-3,00IBERDROLA9,8560-1,26INDITEX20,8500-2,02INDRA A10,31000,78INM.COLONIAL8,34500,42MAPFRE1,9230-0,36MELIA HOTELS6,8940-0,83MERLIN10,7550-0,05NATURGY26,96001,28PHARMA MAR68,58001,36R.E.C.18,08500,81REPSOL11,98001,77ROVI68,30001,19SIEMENS GAME16,23502,72SOLARIA19,90506,44TELEFONICA4,37150,36'

In [111]:
# print(ibex35)
rows = []
for child in ibex35.children:
    element = []
    for i in child:
        if i != '\n':
            element.append(i.text)
    if len(element) != 0:
        rows.append(element)
rows

[['Nombre', 'Último', '% Dif.'],
 ['ACCIONA', '168,6000', '-0,59'],
 ['ACERINOX', '10,1650', '-1,02'],
 ['ACS', '24,7200', '-0,84'],
 ['AENA', '150,6500', '0,30'],
 ['ALMIRALL', '11,9200', '1,45'],
 ['AMADEUS', '59,9200', '-1,29'],
 ['ARCELORMIT.', '29,8850', '-0,30'],
 ['B.SANTANDER', '3,1820', '-2,05'],
 ['BA.SABADELL', '0,7680', '-0,47'],
 ['BANKINTER', '5,4520', '0,04'],
 ['BBVA', '5,4230', '-1,42'],
 ['CAIXABANK', '3,1410', '-0,70'],
 ['CELLNEX', '44,2500', '0,50'],
 ['CIE AUTOMOT.', '21,3800', '-0,19'],
 ['ENAGAS', '19,8000', '0,15'],
 ['ENDESA', '19,1000', '-0,31'],
 ['FERROVIAL', '24,2100', '-1,55'],
 ['FLUIDRA', '27,0000', '-2,88'],
 ['GRIFOLS CL.A', '15,5500', '-0,48'],
 ['IAG', '1,7130', '-3,00'],
 ['IBERDROLA', '9,8560', '-1,26'],
 ['INDITEX', '20,8500', '-2,02'],
 ['INDRA A', '10,3100', '0,78'],
 ['INM.COLONIAL', '8,3450', '0,42'],
 ['MAPFRE', '1,9230', '-0,36'],
 ['MELIA HOTELS', '6,8940', '-0,83'],
 ['MERLIN', '10,7550', '-0,05'],
 ['NATURGY', '26,9600', '1,28'],
 ['PHARMA MAR', '68,5800', '1,36'],
 ['R.E.C.', '18,0850', '0,81'],
 ['REPSOL', '11,9800', '1,77'],
 ['ROVI', '68,3000', '1,19'],
 ['SIEMENS GAME', '16,2350', '2,72'],
 ['SOLARIA', '19,9050', '6,44'],
 ['TELEFONICA', '4,3715', '0,36']]

### Collect all them in a dataframe

In [113]:
df_scrap = pd.DataFrame(rows[1::],columns=rows[0])
df_scrap

          Nombre    Último % Dif.
0        ACCIONA  168,6000  -0,59
1       ACERINOX   10,1650  -1,02
2            ACS   24,7200  -0,84
3           AENA  150,6500   0,30
4       ALMIRALL   11,9200   1,45
5        AMADEUS   59,9200  -1,29
6    ARCELORMIT.   29,8850  -0,30
7    B.SANTANDER    3,1820  -2,05
8    BA.SABADELL    0,7680  -0,47
9      BANKINTER    5,4520   0,04
10          BBVA    5,4230  -1,42
11     CAIXABANK    3,1410  -0,70
12       CELLNEX   44,2500   0,50
13  CIE AUTOMOT.   21,3800  -0,19
14        ENAGAS   19,8000   0,15
15        ENDESA   19,1000  -0,31
16     FERROVIAL   24,2100  -1,55
17       FLUIDRA   27,0000  -2,88
18  GRIFOLS CL.A   15,5500  -0,48
19           IAG    1,7130  -3,00
20     IBERDROLA    9,8560  -1,26
21       INDITEX   20,8500  -2,02
22       INDRA A   10,3100   0,78
23  INM.COLONIAL    8,3450   0,42
24        MAPFRE    1,9230  -0,36
25  MELIA HOTELS    6,8940  -0,83
26        MERLIN   10,7550  -0,05
27       NATURGY   26,9600   1,28
28    PHARMA MAR   68,5800   1,36
29        R.E.C.   18,0850   0,81
30        REPSOL   11,9800   1,77
31          ROVI   68,3000   1,19
32  SIEMENS GAME   16,2350   2,72
33       SOLARIA   19,9050   6,44
34    TELEFONICA    4,3715   0,36

### Let's now do something similar with Selenium


# Level 2

## - Exercise 2

Document in a word document the data set generated with the information contained in the different Kaggle archives.


# Level 3 

## - Exercise 3

Download a web page of your choice and perform web scraping using the Scrapy library.